/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
   } */
.container{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#webcam-container{
  position: relative;
  margin-right: 5px;
}

#myCanvasTensor{
  position:absolute ;
  z-index: 2;
}

.slidecontainer, fieldset {
  width: 224px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

section{
  display: flex;
  flex-direction: row; 
  align-items: flex-end;
}